<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<!-- <style>
.heading {background-color: aqua;
padding: 20px;
text-align: center;}
.options { background-color: bisque;
width: 30%;
padding: 20px;
text-align: center;}
.opt {padding: 20px;
margin-top: 5px;
text-align: center;
background-color: rgb(235, 152, 50);}
.page{display: flex;}
.intro{background-color: chartreuse;
width: 80%;
padding: 30px;}


</style> -->
<body>
    <div class="heading"><h1>Multi Disease Diagnosis Website</h1></div>
    <div class="page">
    <div class="options">
        <a href="/diabetes" ><div class="opt">
            Diabebts Detection
        </div></a>
        <a href="/heart"><div class="opt">
           heart disease Detection
        </div></a>
    </div>
    <div class="intro">

        <h2>1. Diabetes Disease</h2>
        <p>Diabetes is a chronic, metabolic disease characterized by elevated levels of blood glucose (or blood sugar),
            which leads over time to serious damage to the heart, blood vessels, eyes, kidneys and nerves.
            The most common is type 2 diabetes, usually in adults, which occurs when the body becomes resistant to insulin or doesn't make enough insulin.
            In the past 3 decades the prevalence of type 2 diabetes has risen dramatically in countries of all income levels.
            Type 1 diabetes, once known as juvenile diabetes or insulin-dependent diabetes, is a chronic condition in which the pancreas produces little or no insulin by itself.
            For people living with diabetes, access to affordable treatment, including insulin, is critical to their survival.
            There is a globally agreed target to halt the rise in diabetes and obesity by 2025.
            <br>
             About 422 million people worldwide have diabetes, the majority living in low-and middle-income countries,
            and 1.5 million deaths are directly attributed to diabetes each year. Both the number of cases and the prevalence
            of diabetes have been steadily increasing over the past few decades. </p>

        <h2>1. Heart Disease</h2>
        <p>A heart attack occurs when the blood flow to a part of the heart is blocked by a blood clot.
            If this clot cuts off the blood flow completely, the part of the heart muscle supplied by that artery begins
            to die. Most people survive their first heart attack and return to their normal lives to enjoy many more years
            of productive activity. But having a heart attack does mean you have to make some changes. The doctor will
            advise you of medications and lifestyle changes according to how badly the heart was damaged and what degree of heart disease caused the heart attack.
            <br>
             An ischemic stroke (the most common type) happens when a blood vessel that feeds the brain gets blocked,
            usually from a blood clot. When the blood supply to a part of the brain is shut off, brain cells will die.
            The result will be the inability to carry out some of the previous functions as before like walking or
            talking. A hemorrhagic stroke occurs when a blood vessel within the brain bursts. The most likely cause
            is uncontrolled hypertension (blood pressure).
Some effects of stroke are permanent if too many brain cells die after a stroke due to lack of blood and oxygen
            to the brain. These cells are never replaced. The good news is that some brain cells don’t die — they’re only
            temporarily out of order. Injured cells can repair themselves. Over time, as the repair takes place, some body
            functioning improves. Also, other brain cells may take control of those areas that were injured. In this way,
            strength may improve, speech may  get better and memory may improve. This recovery process is what rehabilitation is all about.</p>

    </div>
</div>

</body>
</html>